In [6]:
import pandas as pd
import numpy as np

In [16]:
df = pd.DataFrame(columns = ["a", "b", "c"], data = [[1,-2,3], [1,2,3], [1,2,3]])

In [17]:
df

   a  b  c
0  1 -2  3
1  1  2  3
2  1  2  3

In [7]:
np.log(df)

     a         b         c
0  0.0  0.693147  1.098612
1  0.0  0.693147  1.098612
2  0.0  0.693147  1.098612

In [14]:
np.log(0)

/Users/edwinhuang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

-inf

In [20]:
def log_cust(x):
    """
    Custom log function

    x --> a positive value
    """
    if x < 0:
        return 0
    elif x == 0:
        return 0
    elif x > 0:
        return np.log(x)
df.applymap(log_cust)

     a         b         c
0  0.0  0.000000  1.098612
1  0.0  0.693147  1.098612
2  0.0  0.693147  1.098612